# Tệp yêu cầu
*.d

# Tệp đối tượng biên dịch
*.slo
*.lo
*.o
*.obj
*.ipch
*.pdb

# Tệp tiêu đề biên dịch trước
*.gch
*.pch

# Thư viện động biên dịch
*.so
*.dylib
*.dll

# Tệp module Fortran
*.mod
*.smod

# Thư viện tĩnh biên dịch
*.lai
*.la
*.a
*.lib

# Tệp thực thi
*.exe
*.out
*.app

# Các thư mục và tệp sinh ra bởi Cocos2d-x build
proj.android/build/
proj.android/bin/
proj.android/gen/
proj.android/obj/
proj.android/libs/
proj.android/assets/
proj.ios_mac/build/
proj.win32/Debug/
proj.win32/Release/
proj.win32/Debug.win32/
proj.win32/Release.win32/
proj.win32/.vs/

# Cụ thể cho Xcode
*.xcworkspace
xcuserdata/
*.xcuserstate
DerivedData/
*.mode1v3
*.pbxuser

# Cụ thể cho Android
local.properties
*.iml
.idea/
*.apk

# Khác
.DS_Store
Thumbs.db
